<li>
  <%= pt_report_receiver.pt_membership_name %> 
  <%= link_to 'Remove', pt_report_receiver, 
    method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
</li>

